@model PMTool.Models.ViewModels.ProjectViewViewModel

@{
    ViewData["Title"] = "Project";
}


<ul class="nav nav-tabs" id="projectTabs">
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Projects" id="viewTab" data-toggle="tab" asp-action="Index">View</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Projects" id="newTab" data-toggle="tab" asp-action="Index">New</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Projects" id="editTab" data-toggle="tab" asp-action="Index">Edit</a>
    </li>
</ul>
<br>

<div class="row">
    <form asp-controller="Projects" asp-action="Index" method="post">
        @if (Model.Projects != null)
        {
        @Html.LabelFor(m => m.Projects, "Projects:")
        @Html.DropDownListFor(m => m.SelectedProjectID, Model.Projects, "--Select Projects--")
        @Html.ValidationMessageFor(model => model.Projects, "", new { @class = "text-danger" })
        }
        <input type="submit" name="name" value="Submit" />
    </form>
</div>


<div class="projectInfo">
    <div class="activeProjectTxt">
        <h5>PROJECT INFORMATION</h5>
    </div>
    <div class="row">
        <div class="col-2">
            <b>Title:</b>
        </div>
        <div class="col-3">
            @if (Model.Project != null)
            {
                @Model.Project.PrjName;
            }
        </div>
        <div class="col-2">
            <b>Project Manager:</b>
        </div>
        <div class="col-3">
            @if (Model.Project != null)
            {
                @Model.Project.PrjMgr;
            }
        </div>
    </div>
    <div class="row">
        <b>Description:</b>
    </div>
    <div class="smallContainer">
        <div class="descriptionTxt">
            @if (Model.Project != null)
            {
                @Model.Project.Description;
            }
        </div>
    </div>
    <div class="row">
        <div class="projectDueDateTxt col-2">
            <b>Project Due Date:</b>
        </div>
        <div class="col-3">
            @if (Model.Project != null)
            {
                @Model.Project.PrjDueDate;
            }
        </div>
        <div class="estimatedEffortTxt col-2">
           <b> Estimated Effort (hr):</b>
        </div>
        <div class="col-3">
            @if (Model.Project != null)
            {
                @Model.Project.PrjEstEffort;
            }
        </div>
    </div>
    <div class="activeProjectTxt">
        <h5>PROJECT TEAM</h5>
    </div>
 
    <div class="row">
        <table class="table table-bordered tableOutside col-lg-10">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody class="table-striped">
                @if (Model.Roles != null && Model.Users != null)
                {
                    @for (var i = 0; i < Model.Users.Count; i++)
                    {
                        <tr>
                            <td>@Model.Users[i].Fname @Model.Users[i].Lname</td>
                            <td>@Model.Roles[i].RoleName</td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="activeProjectTxt">
        <h5>PROJECT RISK</h5>
    </div>
    <div class="row">
        <table class="table table-bordered tableOutside col-lg-10">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody class="table-striped">
                @if (Model.Risks != null)
                {
                    @foreach (var item in Model.Risks)
                    {
                        <tr>
                            <td>Missing Title</td>
                            <td>@item.RiskDescription</td>
                            <td>Missing Priority</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
        <script type="text/javascript" src="~/js/Projects.js"></script>
}